        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #0a0a0a;
            
        }
        .calculator {
            display: inline-block;
            border: 1px solid #f1eaea;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            background-color: #242323;
            margin-top: 100PX;
        }
        .screen {
            width: 100%;
            height: 40px;
            text-align: right;
            margin-bottom: 10px;
            font-size: 1.2em;
            padding: 5px;
            border: 1px solid #3b3939;
            border-radius: 5px;
        }
        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 50px);
            gap: 10px;
        }
        .buttons button {
            height: 50px;
            font-size: 1.2em;
            border: none;
            border-radius: 5px;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        .buttons button:hover {
            background-color: #deb80e;
        }
